@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy-black";
  src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-bold";
  src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "NTR";
  src: url(../fonts/NTR/NTR-Regular.ttf);
}
body {
  font-family: "Gilroy-regular";
  font-size: 15px;
  color: #fff;
  background: #000;
}

h1 {
  font-family: "NTR";
  font-size: 50px;
  line-height: 96.8%;
}

a:visited {
  color: #fff;
}

.btn {
  position: relative;
  z-index: 0;
  width: 187px;
  height: 53px;
  border: 2px solid #fff;
}
.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  width: 50px;
  height: 2px;
  background-color: #BF9C24;
}
.btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: #BF9C24;
}
.btn a:visited {
  color: #BF9C24;
}

.burger {
  position: fixed;
  z-index: 2;
  top: 28px;
  left: 10px;
  width: 35px;
  height: 20px;
}
.burger::before, .burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.burger.active::before {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.burger.active::after {
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}
.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(41, 44, 39, 0.4);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.burger__bg.active {
  position: fixed;
  top: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.burger__body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.burger__body.active {
  position: fixed;
  top: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.sing-in {
  z-index: 1;
  position: fixed;
  top: 28px;
  right: 10px;
}

.burger__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.burger__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  min-height: 70%;
  max-height: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}

.burger__menu {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 450px;
  width: 100%;
}

.burger__list {
  max-height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger__item {
  padding-bottom: 10px;
}

.socials {
  width: 100%;
  max-height: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials__other {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100%;
}

.socials__lists {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.socials__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 10px;
}

.socials__row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__first {
  width: 100%;
  background: url(../images/first-screen/model1.png) 60%/cover no-repeat;
}

.container {
  width: 100%;
  padding: 0px 10px;
}

.basket {
  position: fixed;
  z-index: 0;
  top: 28px;
  right: 10px;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.label {
  padding-top: 30px;
}

.first-screeen__content {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  max-width: 270px;
  height: 246px;
}

.first-screeen__title {
  padding-bottom: 20px;
}

.first-screeen__text {
  line-height: 140%;
  padding-bottom: 34px;
}

.dots {
  width: 265px;
}
.dots .dots__row {
  padding-bottom: 13px;
}
.dots .dots__row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.dots .dots__row li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #40423B;
}

@media (min-width: 767px) {
  h1 {
    font-size: 70px;
  }

  .container {
    min-width: 768px;
    padding: 0 30px;
  }

  .burger__bg {
    width: 643px;
  }

  .burger__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 643px;
    min-height: 100%;
  }

  .burger__wrapper {
    max-height: 80%;
  }

  .burger__column {
    min-height: 100%;
    margin: 0;
    margin-left: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1058px;
    margin: 0 auto;
    padding: 0 15px;
  }

  h1 {
    font-size: 80px;
    line-height: 77.44px;
  }

  .burger.active::before {
    position: static;
    -webkit-transform: none;
            transform: none;
    top: 8px;
  }
  .burger.active::after {
    position: static;
    -webkit-transform: none;
            transform: none;
    bottom: 8px;
  }
  .burger.active span {
    -webkit-transform: none;
            transform: none;
  }

  .burger__bg {
    position: static;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 150%;
    max-height: 500%;
    float: left;
    width: 285px;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .burger__bg.active {
    position: static;
    top: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .burger__body {
    position: fixed;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .burger__body.active {
    position: fixed;
    top: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .sing-in {
    position: fixed;
    top: 28px;
    right: 10px;
  }

  .basket {
    position: sticky;
    display: inline;
    float: right;
  }

  .burger__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .burger__column {
    min-height: 100%;
    margin: 0;
    margin-left: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }

  .first-screeen__content {
    max-width: 685px;
  }
}