@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy-black";
  src: url(../../fonts/Gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-regular";
  src: url(../../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-medium";
  src: url(../../fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-bold";
  src: url(../../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url(../../fonts/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../../fonts/Gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "NTR";
  src: url(../../fonts/NTR/NTR-Regular.ttf);
}
body {
  font-family: "Gilroy-regular";
  font-size: 15px;
  color: #fff;
}

h1 {
  font-family: "NTR";
  font-size: 50px;
}

.container {
  min-width: 300px;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  position: relative;
  width: 187px;
  height: 53px;
  border: 2px solid #fff;
}
.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  width: 50px;
  height: 2px;
  background-color: #BF9C24;
}
.btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: #BF9C24;
}
.btn a:visited {
  color: #BF9C24;
}

.wrapper__first {
  background: url(/images/first-screen/model1.png) center/cover no-repeat;
}

.first-screen {
  padding-top: 30px;
}

.burger {
  display: block;
  position: fixed;
  top: 28px;
  left: 10px;
  width: 35px;
  height: 20px;
}
.burger::before, .burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
}
.burger span {
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
}

.label {
  text-align: center;
  font-size: 18px;
}

.basket {
  position: fixed;
  top: 28px;
  right: 10px;
  width: 42px;
  height: 28px;
  font-size: 20px;
}

.header__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: none;
  position: fixed;
  font-size: 17px;
  text-align: center;
}
.menu li {
  padding-bottom: 18px;
}
.menu a:visited {
  color: #fff;
}

.first-screeen__content {
  padding: 160px 0;
}
.first-screeen__content .first-screeen__title {
  padding-bottom: 20px;
}
.first-screeen__content .first-screeen__text {
  padding-bottom: 35px;
}

.first-screen__dots {
  width: 265px;
  height: 18px;
}