@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy-black";
  src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
@font-face {
  font-family: "Gilroy-regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-bold";
  src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}
@font-face {
  font-family: "NTR";
  src: url(../fonts/NTR/NTR-Regular.ttf);
}
body {
  font-family: "Gilroy-regular";
  font-size: 15px;
  color: #fff;
  background: #ededed;
  overflow-x: hidden;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}

h1 {
  font-family: "NTR";
  font-size: 50px;
  line-height: 96.8%;
}

@media (min-width: 767px) {
  h1 {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 80px;
    line-height: 77.44px;
  }
}
.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

@media (min-width: 992px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.title {
  font-family: "NTR";
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #2F3438;
}

.wrapper__content {
  width: 100%;
}

.basket {
  z-index: 1;
  position: fixed;
  top: 30px;
  right: 10px;
}

@media (min-width: 767px) {
  .basket {
    right: 15px;
  }
}
@media (min-width: 992px) {
  .basket {
    max-width: 1058px;
    text-align: right;
    position: sticky;
    height: 0;
    margin-right: 100px;
  }
}
@media (min-width: 1500px) {
  .basket {
    margin: 0 auto;
  }
}
.container {
  position: relative;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 1058px;
    padding: 0 15px;
  }
}
.bg__dark {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 52, 56, 0.98))), url(/images/salon-bg.png) 100%/cover;
  background: linear-gradient(rgba(47, 52, 56, 0.98)), url(/images/salon-bg.png) 100%/cover;
}

.burger__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(41, 44, 39, 0.4);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.burger__bg.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (min-width: 767px) {
  .burger__bg {
    width: 643px;
  }
}
@media (min-width: 992px) {
  .burger__bg {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    position: relative;
    width: 285px;
  }

  .burger__bg.active {
    top: 0;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.burger {
  position: fixed;
  z-index: 5;
  top: 35px;
  left: 10px;
  width: 35px;
  height: 20px;
}
.burger::before, .burger::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.burger.active::before {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}
.burger.active::after {
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}
.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.burger__body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.burger__body.active {
  top: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (min-width: 767px) {
  .burger__body {
    width: 643px;
  }
}
@media (min-width: 992px) {
  .burger__body {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
    position: fixed;
    top: 0;
    width: 285px;
  }

  .burger__body.active {
    top: 0;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
.burger__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

@media (min-width: 767px) {
  .burger__wrapper {
    padding-left: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (min-width: 992px) {
  .burger__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.sing-in {
  position: absolute;
  z-index: 50;
  top: 30px;
  right: 15px;
}

.burger__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  min-height: 75%;
  text-align: center;
  font-size: 17px;
}

@media (min-width: 767px) {
  .burger__column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .burger__column {
    position: fixed;
    width: 150px;
  }
}
.burger__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 450px;
  width: 100%;
}

@media (min-width: 767px) {
  .burger__menu {
    max-height: 550px;
  }
}
.burger__list {
  max-height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 767px) {
  .burger__list {
    max-height: 500px;
  }
}
.burger__item {
  padding-bottom: 10px;
}
.burger__item .active-screen {
  color: #BF9C24;
  font-weight: 700;
}

.socials {
  width: 100%;
  max-height: 150px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 15px;
}

.socials__other {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socials__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socials__list {
  padding-bottom: 10px;
}

.socials__row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  position: relative;
  z-index: 0;
  width: 187px;
  height: 53px;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  border-color: rgb(209, 112, 21);
}
.btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  color: #BF9C24;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  width: 50px;
  height: 2px;
  background-color: #BF9C24;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn a:hover::after {
  background-color: rgb(209, 112, 21);
}
.btn a:visited {
  color: #BF9C24;
}
.btn a:hover {
  color: rgb(209, 112, 21);
}

.section-1__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  min-width: 280px;
  width: 100%;
  height: 100vh;
  background: url(../images/first-screen/model1.png) 60%/cover no-repeat;
}

.first-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.first-screen__row {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media (min-width: 767px) {
  .label {
    font-size: 24px;
  }
}
.first-screeen__title {
  padding-bottom: 20px;
}

.first-screeen__text {
  line-height: 140%;
  padding-bottom: 34px;
}

.dots {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 265px;
}
.dots .dots__row {
  padding-bottom: 13px;
}
.dots .dots__row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.dots .dots__row li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #40423B;
}

.about-me {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: "title" "pic" "content";
  padding: 80px 0;
}

@media (min-width: 767px) {
  .about-me {
    -ms-grid-columns: minmax(300px, 1fr) 1fr;
    grid-template-columns: minmax(300px, 1fr) 1fr;
        grid-template-areas: "pic title" "pic content";
  }
}
.about-me__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}
.exp__content > .about-me__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

@media (min-width: 767px) {
  .about-me__title {
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    justify-items: start;
  }
}
.about-me__pic {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  position: relative;
  grid-area: pic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 292px;
  height: 500px;
  margin: 30px;
}

@media (min-width: 767px) {
  .about-me__pic {
    margin-right: 35px;
  }
}
@media (min-width: 992px) {
  .about-me__pic {
    min-width: 292px;
    max-width: 440px;
    height: 560px;
    margin-right: 55px;
  }
}
.about-me__border {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border: 8px solid #fff;
}

.about-me__bg {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: -20px;
  width: 240px;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(/images/secondScreen/secondSectionBg.png) 100%/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/images/secondScreen/secondSectionBg.png) 100%/cover;
}

@media (min-width: 992px) {
  .about-me__bg {
    top: 30px;
    width: 320px;
    height: 500px;
  }
}
.about-me__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  width: 140px;
  height: 160px;
  -webkit-box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.25);
}
.about-me__image img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .about-me__image {
    width: 210px;
    height: 250px;
  }
}
.about-me__content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 438px;
  min-height: 230px;
  max-height: 255px;
}

@media (min-width: 992px) {
  .about-me__content {
    padding-left: 43px;
  }
}
.about-me__text {
  color: #000;
  line-height: 21px;
}

@media (min-width: 992px) {
  .about-me__text {
    font-size: 17px;
    line-height: 25.5px;
  }
}
.section-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 1180px;
}
.section-3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

@media (min-width: 767px) {
  .section-3 {
    height: 620px;
    width: 100%;
  }
}
.exp__content {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr;
  grid-template-columns: 0.6fr;
  -ms-grid-rows: (0.6fr)[8];
  grid-template-rows: repeat(8, 0.6fr);
      grid-template-areas: "title" "achive-1" "achive-2" "achive-3" "logo" "achive-4" "achive-5" "achive-6";
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 767px) {
  .exp__content {
    -ms-grid-columns: 2fr 1fr 2fr;
    grid-template-columns: 2fr 1fr 2fr;
    -ms-grid-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas: "title title title" "achive-1 logo achive-4" "achive-2 logo achive-5" "achive-3 logo achive-6";
  }
  .exp__content > .about-me__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
.exp__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: #fff;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
.exp__content > .exp__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

@media (min-width: 767px) {
  .exp__title {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}
.exp__logo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
}

.achive-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: achive-1;
}

.achive-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: achive-2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.achive-3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: achive-3;
}

.achive-4 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: achive-4;
}

.achive-5 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: achive-5;
}

@media (min-width: 767px) {
  .achive-5 {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
.achive-6 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: achive-6;
}
@media (min-width: 767px){
  .about-me__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .about-me__pic {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .about-me__content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .exp__title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .exp__content > .exp__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .exp__logo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
  }
  .achive-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .achive-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .achive-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .achive-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .achive-5 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .achive-6 {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
}

@media (min-width: 767px) {
  .achive-1, .achive-3 {
    -ms-grid-column-align: start;
        justify-self: start;
    position: relative;
    left: 80px;
  }

  .achive-4, .achive-6 {
    position: relative;
    -ms-grid-column-align: end;
        justify-self: end;
    right: 80px;
  }
}
.exp__achive {
  max-width: 280px;
  height: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp__side-line {
  width: 5px;
  height: 100%;
  margin: 0 15px;
  background: #fff;
  display: inline-block;
  border-radius: 5px;
}

@media (min-width: 767px) {
  .after-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
}
.exp__count {
  padding-bottom: 13px;
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: #BF9C24;
}

.exp__description {
  font-size: 18px;
}

.our-services {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-services__title {
  padding-bottom: 30px;
}

.our-services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 320px;
  height: 330px;
}

@media (min-width: 767px) {
  .our-services__cards {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

@media (min-width: 767px) {
  .slider__line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100%;
    justify-items: center;
  }
  .slider__line > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider__line > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .slider__line > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .slider__line > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .slider__line > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .slider__line > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}
@media (min-width: 1350px) {
  .slider__line {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .slider__line > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider__line > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .slider__line > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .slider__line > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .slider__line > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .slider__line > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .slider__line > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .slider__line > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
}
.our-services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  width: 300px;
  height: 330px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.301))), url(/images/fourthScreen/procedure1.jpg) 100%/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.301)), url(/images/fourthScreen/procedure1.jpg) 100%/cover no-repeat;
  border-radius: 5px;
}

@media (min-width: 767px) {
  .our-services__card {
    max-width: 240px;
    max-height: 270px;
    margin: 10px;
  }
}
.our-services__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
  border: 2px solid rgba(191, 156, 36, 0.6);
  border-radius: 5px;
}

.our-services__procedure {
  font-family: "Gilroy-regular";
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 35px;
}