@font-face {
	font-family: 'Gilroy-black';
	src: url(../../fonts/Gilroy/Gilroy-Black.ttf);
}
@font-face {
	font-family: 'Gilroy-regular';
	src: url(../../fonts/Gilroy/Gilroy-Regular.ttf);
}
@font-face {
	font-family: 'Gilroy-medium';
	src: url(../../fonts/Gilroy/Gilroy-Medium.ttf);
}
@font-face {
	font-family: 'Gilroy-bold';
	src: url(../../fonts/Gilroy/Gilroy-Bold.ttf);
}
@font-face {
	font-family: 'Gilroy-semibold';
	src: url(../../fonts/Gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
	font-family: 'Gilroy-light';
	src: url(../../fonts/Gilroy/Gilroy-Light.ttf);
}
@font-face {
	font-family: 'NTR';
	src: url(../../fonts/NTR/NTR-Regular.ttf);
}