.burger__bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(41, 44, 39, 0.4);
	backdrop-filter: blur(40px);
	transition: all 1s ease 0s;
	transform: translate(-100%, 0px);
}
.burger__bg.active{
	transform: translate(0px, 0px);
}

@media(min-width: 767px){
	.burger__bg {
		width: 643px;
	}
}
@media(min-width: 992px){
	.burger__bg {
		transform: translate(0px, 0px);
		position: relative;
		width: 285px;
	}
	.burger__bg.active{
		top: 0;
		transform: translate(0px, 0px);
	}
}


.burger {
	position: fixed;
	z-index: 5;
	top: 35px;
	left: 10px;
	width: 35px;
	height: 20px;
	&::before,&::after {
		content: '';
		width: 100%;
		height: 3px;
		background-color: #fff;
		display: block;
		transition: all 0.5s linear 0s;
	}
	span{
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fff;
		margin: 5px 0;
		transition: all 0.5s ease 0s;
	}
}
.burger.active{
	&::before{
		position: relative;
		transform: rotate(45deg);
		top:8px;
	}
	&::after{
		position: relative;
		transform: rotate(-45deg);
		bottom: 8px;
	}
	span{
		transform: scale(0);
	}
	
}






.burger__body {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
	width: 100%;
	height: 100%;
	transition: all 1s ease 0s;
	transform: translate(-100%, 0px);

}
.burger__body.active{
	top: 0;
	transform: translate(0px, 0px);
}

@media(min-width: 767px){
	.burger__body {
		width: 643px;
	}
}
@media(min-width: 992px){
	.burger__body {
		transform: translate(0, 0px);
		position: fixed;
		top: 0;
		width: 100%;
	}
	.burger__body.active {
		top: 0;
		transform: translate(0, 0px);
	}
}





.burger__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

@media(min-width: 767px){
	.burger__wrapper {
		padding-left: 15px;
		justify-content: end;
		align-items: start;
	}
}
@media(min-width: 992px){
	.burger__wrapper {
		justify-content: end;
		align-items: start;
	}
}




.sing-in {
	position: absolute;
	z-index: 50;
	top: 28px;
	right: 15px;
}


.burger__column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	min-height: 75%;

	text-align: center;
	font-size: 17px;
}

@media(min-width: 767px){
	.burger__column {
		justify-content: space-between;
		text-align: left;
	}
}
@media(min-width: 992px){
	.burger__column {
		position: fixed;
		width: 150px;
	}
}




.burger__menu {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 450px;
	width: 100%;
}

@media(min-width: 767px){
	.burger__menu {
		max-height: 550px;
	}
}




.burger__list {
	max-height: 400px;
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media(min-width: 767px){
	.burger__list {
		max-height: 500px;
	}
}




.burger__item {
	padding-bottom: 10px;

	.active-screen{
		color: #BF9C24;
		font-weight: 700;
	}
}



.socials {
	width: 100%;
	max-height: 150px;
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 15px;
}
.socials__other {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.socials__lists {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.socials__list {
	padding-bottom: 10px;
}
.socials__row {
	flex: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
