@media(min-width: 767px){
	
	h1{
		font-size: 70px;
	}

	.container{
			min-width: 768px;
			padding: 0 30px;
		}


		.burger {
			
		}



		.burger__bg {
			width: 643px;
		}

		

		.burger__body {
			justify-content: end;
			width: 643px;
			min-height: 100%;

		}


		.sing-in {
		}

		.burger__wrapper {
			max-height: 80%;

		}

		.burger__column {

			min-height: 100%;


			margin: 0;
			margin-left: 15px;
			justify-content: space-between;
			text-align: left;
		}
	














}










