.section-3{
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	height: 1180px;
	
}

@media(min-width: 767px){
	.section-3{
		height: 620px;
		width: 100%;
	}
}

.bg__dark{
	position: absolute;
	z-index: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background: linear-gradient(rgba(47, 52, 56, 0.98)), url(/images/salon-bg.png) 100%/ cover;
}

.exp__content{
	position: relative;
	z-index: 1;

	display: grid;

	grid-template-columns: 0.6fr;
	grid-template-rows: repeat(8 , 0.6fr);
	grid-template-areas: 
		'title'
		'achive-1'
		'achive-2'
		'achive-3'
		'logo'
		'achive-4'
		'achive-5'
		'achive-6';
	
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: start;
	justify-content: center;
	
}

@media(min-width: 767px){
	.exp__content{
		grid-template-columns: 2fr 1fr 2fr;
		grid-template-rows: 0.5fr 1fr 1fr 1fr;
		grid-template-areas: 
			'title title title'
			'achive-1 logo achive-4'
			'achive-2 logo achive-5'
			'achive-3 logo achive-6';
	}
}

.exp__title{
	grid-area: title;
	color: #fff;
	align-self: center;
	justify-self: center;
}
@media(min-width: 767px){
	.exp__title{
		align-self: end;
	}
}

.exp__logo{
	grid-area: logo;
	justify-self: center;
}



.achive-1{
	grid-area: achive-1;
}
.achive-2{
	grid-area: achive-2;
	justify-self: start;
}
.achive-3{
	grid-area: achive-3;
}
.achive-4{
	grid-area: achive-4;
}
.achive-5{
	grid-area: achive-5;
}
@media(min-width: 767px){
	.achive-5{
		justify-self: end;
	}
}
.achive-6{
	grid-area: achive-6;
}

@media(min-width: 767px){
	.achive-1, .achive-3{
		justify-self: start;
		position: relative;
		left: 80px;
	} 
	.achive-4, .achive-6 {
		position: relative;
		justify-self: end;
		right: 80px;
	}
}




.exp__achive {
	max-width: 280px;
	height: 72px;
	position: relative;
	display: flex;
}

.exp__side-line{
	width: 5px;
	height: 100%;
	margin: 0 15px;
	background: #fff;
	display: inline-block;
	border-radius: 5px;
}

@media(min-width: 767px){
	.after-right{
		flex-direction: row-reverse;
		text-align: right;
	}
}






.exp__count {
	padding-bottom: 13px;

	font-family: 'Gilroy-bold';
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 40px;
	color: #BF9C24;
}
.exp__description {
	font-size: 18px;
}

